/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* HEADER */
header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

header .logo {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

header .logo img {
  height: 65px;
}

header .nav-icons {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 30px;
}

header .nav-icons img {
  height: 40px;
  cursor: pointer;
}

/* CONTENEDORES GENERALES */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* LOGIN Y REGISTRO */
.login-container, .register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box, .register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #eaf3f6;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  width: 100%;
}

.login-logo, .register-logo {
  width: 100%;
  text-align: center;
  padding-right: 30px;
}

.login-form, .register-form {
  width: 100%;
}

.login-form .form-group, .register-form .form-group {
  margin-bottom: 15px;
  width: 100%;
}

.login-form label, .register-form label {
  font-weight: bold;
  color: #155c8f;
  text-align: left;
  display: block;
}

.login-form input, .register-form input {
  padding: 10px;
  border: 1px solid #d3e2f1;
  border-radius: 4px;
  font-size: 1rem;
  color: #155c8f;
  width: 100%;
}

.login-form input::placeholder, .register-form input::placeholder {
  color: #155c8f;
}

/* BOTONES */
.primary-btn {
  background-color: #155c8f;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  font-size: 10px;
}

.primary-btn:hover {
  background-color: #1c1c1c;
  color: #fff;
  border: 1px solid #1c1c1c;
}

.secondary-btn {
  background-color: #84b4dc;
  color: #1c1c1c;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  font-size: 10px;
}

.secondary-btn:hover {
  background-color: #fff;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
}

/* SECCIÓN SLIDER */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #155c8f;
  padding: 20px;
  background-image: url('../images/fondo-inicio.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken; 
}

.slider-content {
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffff;
}

.slider-content h1 {
  color: #ffffff;
  font-size: 50px;
}

.slider-content p {
  margin-bottom: 15px;
  font-size: 15px;
}

/* Slider Login y Register */
.slider2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #155c8f;
  background-image: url('../images/fondo-coches.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

/* INFO SECTION */
.info {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.info-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 180px;
  margin: 0 auto;
}

.info-card h2 {
  font-size: 1.5rem;
  color: #155c8f;
  margin-bottom: -20px;
  font-weight: bold;
}

.info-card p {
  font-size: 1rem;
  color: #1c1c1c;
}

/* PÁGINA INFORMACIÓN USUARIO */
.container-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  max-width: 1200px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  color: #1c1c1c;
}

/* ENCABEZADOS */
.info-usuario h2 {
  color: #155c8f;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  text-align: left;
}

/* SECCIONES DEL FORMULARIO */
.info-usuario {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

/* Sección de cada campo dentro del formulario */
.info-usuario-section {
  width: 100%;
  max-width: 400px;
  margin-bottom: 5px;
}

.info-usuario-section label {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 3px;
  color: #155c8f;
}

.info-usuario-section input,
.info-usuario-section select {
  width: 100%;
  padding: 6px;
  font-size: 0.8rem;
  border: 1px solid #eaf3f6;
  background-color: #eaf3f6;
  margin-bottom: 6px;
}

.info-usuario-section input::placeholder {
  color: #155c8f;
}

/* ICONOS CIRCULARES */
.icon-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.icon {
  width: 425px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon.user-icon {
  top: 40px;
  left: -180px;
}

.icon.car-icon {
  bottom: 240px;
  right: -160px;
}

/* FOOTER */
footer {
  background-color: #155c8f;
  color: #fff;
  padding: 20px 0;
  text-decoration: none;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.footer-content h3 {
  margin-bottom: 10px;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8rem;
}

/* PÁGINA PARKING */
.parking-slot {
  width: 60px;
  height: 60px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.free { background-color: #4caf50; }
.occupied { background-color: #e74c3c; }

.parking-slot.reserved-user {
  background-color: #3578e5 !important;
}

.parking-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a4a4a4;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  width: 120%;
  overflow-x: auto;
  margin-right: 40px;
}

.parking-row {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.parking-center {
  width: 100%;
  height: 120px;
  background-color: #a4a4a4;
}

.legend {
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #000;
}

.parking-info {
  text-align: left;
  margin-left: 120px;
  margin-top: 0;
}

.parking-info h5 {
  font-size: 1.2rem;
  color: #155c8f;
  margin-bottom: 10px;
}

.status {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.free-text { color: #155c8f; }
.occupied-text { color: #dc3545; }
.reserved-text { color: #0d6efd; }

.reserva-box {
  background-color: #eaf3f6;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
}

.reserva-form {
  width: 100%;
}

.reserva-form .form-group {
  margin-bottom: 15px;
  width: 100%;
}

.reserva-form label {
  font-weight: bold;
  color: #155c8f;
  display: block;
}

.reserva-form input, .reserva-form select {
  padding: 10px;
  border: 1px solid #d3e2f1;
  border-radius: 4px;
  font-size: 1rem;
  color: #155c8f;
  width: 100%;
}

.reserva-form input::placeholder {
  color: #155c8f;
}